@media (max-width: 1024px) {
    .col-3-new {
        .catalog-card__img {
            img {
                max-width: 100%;
            }
        }
        .catalog-card {
            &__content {
                padding-bottom: 0;
            }
            &__id {
                margin-bottom: 0;
            }
            &__title {
                height: 36px;
            }
        }
    }
    .background-gray {
        margin-top: 96px;
    }
    .page-text__grid-new {
        margin-top: 32px;
    }
    .page-text__grid {
        .page-text {
            &__new {
                margin-bottom: 0;
            }
        }
    }
    .container {
        &.background-gray {
            padding-bottom: 0;
            .page-text__grid-new {
                margin-bottom: 0;
            }
        }
    }
    .page-mt {
        margin-top: 96px;
    }
    .container-line {
        .steps {
            width: 100%;
        }
    }
    .page-text__grid-odd {
        grid-template-columns: auto;
        gap: 20px;
    }

}
@media (max-width: 959px) {
    .col-3-new {
        grid-template-columns: repeat(2, auto);
        .catalog-card__img {
            height: auto;
            img {
                // max-width: 192px;
                height: auto;
                max-height: 320px;
                aspect-ratio: 4 / 3
            }
        }
    }
    .page-text__grid-new, .page-text__grid-new-odd {
        grid-template-columns: auto;
        figure {
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    }
    .page-text__grid {
        &.page-text__grid-new-odd {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .container {
        &.background-gray {
            padding-bottom: 32px;
        }
    }
    .page-mt {
        margin-top: 64px;
        padding-top: 0;
    }
    .page-mt-three {
        margin-top: 64px;
    }
    .container-line {
        padding-bottom: 0;
    }
    .page-text__grid {
        margin-bottom: 0;
    }
    .page-text__grid-new .page-text-col1 p, .page-text__grid-new .page-text-col2 p,.page-text__grid-new-odd .page-text-col1 p, .page-text__grid-new-odd .page-text-col2 p, .list-new-bl p {
        display: inline-block;
    }
}

@media (max-width: 680px) {
    .container-line {
        .steps {
            flex-direction: column;
            gap: 30px;
            .step {
                width: calc(100% - 45px);
                figure {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    width: 266px;
                    margin-left: 20px;
                    img {
                        height: 106px;
                    }
                }
                figcaption {
                    height: auto;
                }
                &:last-child {
                    width: calc(100% - 45px);
                }
            }
            &:before {
                width: 3px;
                height: calc(80% + 30px);
                transform: none;
                top: 0;
                bottom: 0;
                right: 0;
            }
            .step-number {
                bottom:0;
                top: -10px;
                left: -40px;
            }
        }
    }
    .page-mt-two {
        margin-top: 96px;
    }
}

@media (max-width: 480px) {
    .col-3-new {
        .catalog-card__img {
            height: auto;
            img {
                max-width: 192px;
                height: 132px;
            }
        }
    }
}

@media (max-width: 400px) {
    .col-3-new {
        grid-template-columns: auto;
        .catalog-card__img {
            height: auto;
            img {
                max-width: 192px;
                height: 132px;
            }
        }
    }
}

