.page-text__grid-new {
    grid-template-columns: 470px auto;
    align-items: flex-start;
    margin-top: 64px;
    gap: 38px;
    ul, li {
        list-style-type: disc;
        margin-left: 12px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .page-text-col1, .page-text-col2 {
        p {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 20px;
            b {
                font-weight: bold;
            }
        }
    }
    h3 {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    &-odd {
        grid-template-columns: auto 470px;
        align-items: flex-start;
        margin-top: 64px;
        gap: 38px;
        ul, li {
            list-style-type: disc;
            margin-left: 12px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }
        .page-text-col1, .page-text-col2 {
            p {
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 20px;
                b {
                    font-weight: bold;
                }
            }
        }
        h3 {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }
    }
}
.col-3-new {
    grid-template-columns: repeat(3, auto);
    .catalog-card {
        max-width: none;
        .catalog-card__img {
            aspect-ratio: auto;
            img {
                width: 487px;
                height: 320px;
                object-fit: inherit;
            }
        }
        .catalog-card__content {
            text-align: left;
            .catalog-card__title {
                text-align: left;
            }
        }
    }
}
.line-new {
    padding: 0;
    h2 {
        span {
            color: #8BA6CC;
        }
    }
}
.container-line {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    .f-up {
        text-transform: uppercase;
    }
    h2 {
        margin: 10px 0 70px 0;
    }
    .steps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: -32px;
            left: 0;
            right: 20%;
            height: 2px;
            background-color: #333;
            transform: translateY(-50%);
        }
        .step {
            position: relative;
            z-index: 1;
            background-color: #fff;
            color: #8BA6CC;
            width: 20%;
            figcaption {
                height:45px;
                color: #000;
            }
        }
        .step-number {
            position: absolute;
            bottom: -50px;
            transform: translateX(-50%);
            width: 40px;
            height: 40px;
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
        }
    }
}
.block-guarantee {
    background: url(img/icon_guarantee.svg) 24px 24px no-repeat #F7F7F7;
    padding: 24px 24px 24px 78px;
    margin: 24px 0;
}
.line-black {
    border-top: 3px solid #000;
    margin-top: 136px;
    padding-top: 10px;
}
.background-gray {
    background: #F7F7F7;
    padding-top: 64px;
    padding-bottom: 64px;
}
.page-mt {
    margin-top: 136px;
    padding-bottom: 0;
    &-two {
        margin-top: 136px;
        padding-bottom: 0;
        margin-top: 176px;
    }
}

.page-text__grid {
    .page-text__new {
        gap: 20px 40px;
    }
}
.fig-desc {
    background: #F7F7F7;
    padding: 24px;
}
.page-text {
    .chi-tit {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        text-align: left;
        text-decoration-skip-ink: none;
    }
}