.page-text__grid-new {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    &-odd {
        grid-template-columns: 2fr 1fr;
        align-items: flex-start;
    }
}
.col-3-new {
    grid-template-columns: repeat(3, auto);
    .catalog-card {
        max-width: none;
        .catalog-card__img {
            aspect-ratio: auto;
            img {
                width: 487px;
                height: 320px;
                object-fit: inherit;
            }
        }
        .catalog-card__content {
            text-align: left;
            .catalog-card__title {
                text-align: left;
            }
        }
    }
}
.line-new {
    h2 {
        span {
            color: #8BA6CC;
        }
    }
}
.container-line {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    h2 {
        margin: 10px 0 70px 0;
    }
    .steps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: -32px;
            left: 0;
            right: 20%;
            height: 2px;
            background-color: #333;
            transform: translateY(-50%);
        }
        .step {
            position: relative;
            z-index: 1;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            color: #8BA6CC;
            width: 20%;
            figcaption {
                height:45px;
                color: #000;
            }
        }
        .step-number {
            position: absolute;
            bottom: -50px;
            transform: translateX(-50%);
            width: 40px;
            height: 40px;
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
        }
    }
}
.block-guarantee {
    background: url(/img/icon_guarantee.svg) 24px 24px no-repeat #F7F7F7;
    padding: 24px 24px 24px 78px;
}


